.nav-link-side-bar {
    margin-top: 16px;
    position: fixed;
}

#side-bar-link-user {
    text-decoration: none !important;
    color: #212529 !important;
}

#side-bar-link-user:active {
    padding: 8px 16px;
    background-color: #eff0f1;
    color: #0c0d0e !important;
    font-weight: bold; 
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group {
    position: relative;
}

.list-group-item {
    border: none !important;
}

.side-bar-link {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    height: 100%;
    /* position: absolute; 
    top: 0;
    left: 0; */
}

.side-bar-link--active {
    padding: 8px 16px;
    background-color: #eff0f1;
    color: #0c0d0e !important;
    font-weight: bold;  
}

.side-bar-link:hover {
    padding: 8px 16px;
    background-color: #eff0f1;
    color: #0c0d0e !important;
}

